.video__toggler {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
}

@media (max-width: 870px) {
  .video__toggler {
    transform: rotate(90deg);
  }
}
