.video__videos {
  overflow: hidden;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 45px 0 0;
}

@media all and (max-width: 1340px) {
  .video__videos {
    flex-wrap: wrap;
  }
}
