.video__videos {
  overflow: hidden;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 45px 0 0;
  gap: 70px;
}

@media (max-width: 1030px) {
  .video__videos {
    gap: 30px;
  }
}

@media (max-width: 870px) {
  .video__videos {
    flex-direction: column;
    align-items: center;
  }
}

