.video__videos {
  overflow: hidden;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 45px 0 0;
  gap: 1rem;
}

@media (max-width: 1380px) {
  .video__videos {
    flex-direction: column;
    align-items: center;
  }
}
