.header__dropdown-content {
  padding: 0 0 0 20px;
  position: relative;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  cursor: pointer;
}

.header__dropdown-content > .header__list {
  display: none;
}

.header__dropdown-content:hover > .header__list {
  display: block;
}
