.see-once__link {
  font-family: 'SF Pro Display', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* text-decoration: underline; */
  text-decoration: none;
  border-bottom: 2px solid rgb(100 115 130 / 50%);
  color: #4D4D4D;
  position: relative;
}

.see-once__link:hover {
  border-bottom: 2px solid rgb(210 0 28 / 50%);
  color: #D2001C;
}

.see-once__link::after {
  position: absolute;
  right: -20px;
  top: 5px;
  width: 7px;
  height: 10px;
  content: "";
  background: url('../../../images/arrow-right.svg') no-repeat 50%;
  background-size: 100%;
}

