@import url('../vendor/normalize.css');
@import url('../fonts/open-sans.css');
@import url('../blocks/header/header.css');

.body {
  max-width: 1440px;
  margin: 0 auto 0;
  background-color: #FFF;
}
