.header__login {
  border-radius: 8px;
  margin: 14px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 85px;
  height: 24px;
  border: 0;
  background: transparent;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #222222;
  cursor: pointer;
}

.header__login:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,.16);
}

.header__login::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  content: "";
  background-image: url('../../../images/login.svg');
}
