.see-once__title {
  min-width: 285px;
  margin: 70px 0 0;
  padding: 0 2vw 0 7.4vw;
  font-family: 'SF Pro Text', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: -0.7px;
  color: #222222;
}

@media all and (max-width: 1240px) {
  .see-once__title {
    padding: 0 2vw 0 0;
  }
}
