@import url('./__contents/video__contents.css');
@import url('./__title/video__title.css');
@import url('./__toggler-item/video__toggler-item.css');
@import url('./__toggler/video__toggler.css');
@import url('./__videos-item/video__videos-item.css');
@import url('./__videos/video__videos.css');

.video {
  background: #F9F9F9;
  padding: 73px 115px 40px 135px;
}

@media (max-width: 1340px) {
  .video {
    padding: 73px 20px 40px;
  }
}

@media (max-width: 615px) {
  .video {
    padding: 73px 15px 40px;
  }
}
