@import url('./__contents/video__contents.css');
@import url('./__title/video__title.css');
@import url('./__toggler-item/video__toggler-item.css');
@import url('./__toggler/video__toggler.css');
@import url('./__videos-item/video__videos-item.css');
@import url('./__videos/video__videos.css');

.video {
  background: #F9F9F9;
  padding: 73px 115px 40px 135px;
  max-height: 440px;
}

@media (max-width: 1439px) {
  .video {
    padding: 73px 8.1vw 40px 9.4vw;
  }
}

@media (max-width: 1240px) {
  .video {
    padding: 73px 2.1vw 40px 2.4vw;
  }
}

@media (max-width: 870px) {
  .video {
    max-height: 1065px;
  }
}
