.header__contacts-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media all and (max-width: 340px) {
  .header__contacts-column {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}
