.header__list-element {
  cursor: pointer;
  padding: 5px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.header__list-element:hover {
  background-color: #f1f1f1;
}

.header__list-element_yellow {
  background-color: #fed600;
}

.header__list-element_yellow:hover {
  background-color: #fce97d;
}
