@import url('./__agreement/employees__agreement.css');
@import url('./__column/employees__column.css');
@import url('./__paragraph/employees__paragraph.css');
@import url('./__photo/employees__photo.css');
@import url('./__resume/employees__resume.css');
@import url('./__title/employees__title.css');
@import url('./__wrapper/employees__wrapper.css');
@import url('./__title/employees__title.css');
@import url('./__resume/employees__resume.css');
@import url('./__column/employees__column.css');
@import url('./__agreement/employees__agreement.css');
@import url('./__paragraph/employees__paragraph.css');
@import url('./__paragraph-link/employees__paragraph-link.css');

.employees {
  padding: 70px 6vw 0 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (max-width: 1240px) {
  .employees {
    padding: 70px 2vw 0 3vw;
  }
}

@media all and (max-width: 870px) {
  .employees {
    padding: 70px 0vw 0 0vw;
  }
}

@media all and (min-width: 1440px) {
  .employees {
    padding: 70px 3vw 0 3vw;
  }
}
